.form {
    text-align: right;
}
  
.form button {
    font: inherit;
    cursor: pointer;
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
  
.form button:hover,
.form button:active {
    background-color: #27ae60;
    border-color: #27ae60;
}